@page "/"
@rendermode InteractiveWebAssembly
<PageTitle>Home</PageTitle>

<MudGrid Justify="Justify.SpaceEvenly">
    <MudPaper Height="400px" Width="400px">
        <MudContainer MaxWidth="MaxWidth.Small" Justify="Justify.Center">
            <MudPaper Height="400px" Width="400px" Square="true" Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
                <Calendar/>
            </MudPaper>
        </MudContainer>
    </MudPaper>

    <MudPaper Height="400px" Width="400px">
        <MudContainer MaxWidth="MaxWidth.Small" Justify="Justify.Center">
            <MudPaper Height="400px" Width="400px" Square="true" Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
                <Ctimer/>
                <h1> Client Timer: </h1>
            </MudPaper>
        </MudContainer>
    </MudPaper>

    <MudPaper Height="400px" Width="400px">
        <MudContainer MaxWidth="MaxWidth.Small" Justify="Justify.Center">
            <MudPaper Height="400px" Width="400px" Square="true" Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
                <Counter/>
                <h1> Counter: </h1>
            </MudPaper>
        </MudContainer>
    </MudPaper>

    <MudPaper Height="400px" Width="400px">
        <MudContainer MaxWidth="MaxWidth.Small" Justify="Justify.Center">
            <MudPaper Height="400px" Width="400px" Square="true" Class="justify-center" Elevation="0">
                <h1> Timer, Server folder:</h1>
                <Timer />
                
            </MudPaper>
        </MudContainer>
    </MudPaper>
</MudGrid>
